#section-filters {

	.filters-search {
		border-bottom: 1px solid $color__gray;
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		align-items: center;
		padding: 0 $space-xs 0 0;

		@include breakpoint(mobile) {
			grid-template-columns: 1fr;
			padding: 0;
		}

		.btn-group {
			justify-self: end;
			@include breakpoint(mobile) {
				display: none;
			}
		}

		.btn-group-2 {
			justify-self: end;
			@include breakpoint(mobile) {
				padding: $space__unit 0 $space__unit 0;
				justify-self: center;
			}
			
		}
		
		.form-group {
			position: relative;
			
			input {
				background-color: white;
				border: 0;
				border-right: 1px solid $color__gray;
				height: 72px;
				border-radius: 0;
				padding-left: $space-md;

				@include breakpoint(mobile) {
					border-right: 0;
					border-bottom: 1px solid $color__gray;
				}
			}

			&::after {
				position: absolute;
				left: 8px;
				top: calc(50% - .75em);
				display: block;
				width: 24px;
				height: 24px;
				content: url('../img/magnifying-glass.svg');
				background-size: auto 100%;
			}
		}
		
	}

	.filters-select {
		display: flex;
		align-items: center;
		padding: $space__unit;

		@include breakpoint(mobile) {
			flex-direction: column;
		}

		.form-group {
			margin-right: $space__unit;
			@include breakpoint(mobile) {
				margin-right: 0;
				margin-bottom: $space__unit;
				width: 100%;
			}
		}

		.form-btn {
			margin-left: auto;
			@include breakpoint(mobile) {
				display: none;
			}
		}

		select {
			border: 1px solid $color__gray;
			background-color: white;
		}

		.btn-group {
			display: none;
			@include breakpoint(mobile) {
				justify-self: center;
				display: block;
			}
		}
	}
	
} 



