<div class="card card--horizontal">
    </a>
    <div class="card-avatar">
        <img width="54" height="54" src="./assets/img/avatar.png" alt="ASENSIO GIMENO, ANGEL" loading="lazy"/>
    </div>
    <div class="card-content">
        <div class="text-caption mb-1">Nº colegiado: @@number</div>
        <p class="text-h4"><strong><a href="./colegiado.html">@@name</a></strong></p>
        <div class="entry-meta mt-1">
            <div class="dflex middle-xs">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="./assets/icons/sprite-icons.svg#map-marker"></use>
                </svg>
                <small>@@address</small>
            </div>
            <div class="dflex middle-xs">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="./assets/icons/sprite-icons.svg#info"></use>
                </svg>
                <small>@@info</small>
            </div>
        </div><!-- .entry-meta -->	
    </div>	
    <div class="card-info pa-2">
        <span class="bagde @@classBagde">@@textBadge</span>
    </div>

</div><!-- .card -->

