<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="footer-top row">
            <div class="col-xs-6 col-md">
                <p class="text-h5">Sede Zaragoza</p>
                <div>
                    <p>C/ Coso, 31.<br> 50003 Zaragoza.</p>
                    <p>
                        <a href="tel:+34976239702">976 23 97 02</a><br>
                        <a href="mailto:coiiar@coiiar.org" taget="_blank">coiiar@coiiar.org</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md">
                <p class="text-h5">Delegación La Rioja</p>
                <div>
                    <p>Pl. San Bartolomé, 1.<br> 26001 Logroño.</p>
                    <p>
                        <a href="tel:+34941251537">941 25 15 37</a><br>
                        <a href="mailto:rioja@coiiar.org" target="_blank" rel="noopener">rioja@coiiar.org</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md">
                <p class="text-h5">Delegación Teruel</p>
                <div>
                    <p>Avd. Segorbe, 3.<br> 44002 Teruel.</p>
                    <p>
                        <a href="tel:+34978617068">978 61 70 68</a><br>
                        <a href="mailto:delteruel@coiiar.org" target="_blank" rel="noopener">delteruel@coiiar.org</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md">
                <p class="text-h5">Delegación Huesca</p>
                <div>
                    <p>Pl. Andalucía, 1.<br> 22004 Huesca.</p>
                    <p>
                        <a href="tel:+34974238599">974 23 85 99</a><br>
                        <a href="mailto:delhuesca@coiiar.org" target="_blank" rel="noopener">delhuesca@coiiar.org</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-middle row">
            <div class="col-xs-12 col-md-6"><span class="text-h4">Mejorando el
                    mundo a través de la ingeniería</span>
                <div class="textwidget">
                    <p>La Ingeniería Industrial es una profesión que cuenta con una tasa de empleabilidad muy elevada.
                        Los ingenieros industriales encuentran trabajo con facilidad y su tasa de empleabilidad llega a
                        casi el 92% y la de actividad al 99%.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <p class="text-h5">Síguenos en:</p>
                <ul class="social">
                    <li>
                        <a href="https://twitter.com/COIIAR" title="Twitter COIIAR" rel="nofollow" target="_blank">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="./assets/icons/sprite-icons.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/coiiar/" title="Linkedin COIIAR" rel="nofollow"
                            target="_blank">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="./assets/icons/sprite-icons.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ingenieros_industriales_coiiar/" title="Instagram COIIAR"
                            rel="nofollow" target="_blank">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="./assets/icons/sprite-icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCuUDBiSP18agKh7ovMxjO3g/featured"
                            title="YouTube COIIAR" rel="nofollow" target="_blank">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="./assets/icons/sprite-icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom row mb-3">
            <div class="col-xs-12 col-md"><img width="280" height="102"
                    src="https://coiiar.es/wp-content/uploads/2020/06/logo-coiiar.png"
                    class="pb-2" alt="COIIAR" loading="lazy"
                    style="max-width: 100%; height: auto;"></div>
            <div class="col-xs-6 col-md">
                <span class="text-h5">Accesos directos</span>
                <div>
                    <ul class="menu">
                        <li><a href="https://coiiar.es/ofertas-de-empleo/">Bolsa de Trabajo</a></li>
                        <li><a href="https://coiiar.es/servicios/">Servicios</a></li>
                        <li><a href="https://coiiar.es/servicios/certificados-y-visados/">Visados</a></li>
                        <li><a href="https://coiiar.es/unete/">Únete</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md">
                <span class="widget-title text-h5">Lo último en COIIAR</span>
                <div class="menu-footer-2-container">
                    <ul class="menu">
                        <li><a href="https://coiiar.es/noticias/">Noticias</a></li>
                        <li><a href="https://coiiar.es/jornadas-tecnicas/">Jornadas técnicas</a></li>
                        <li><a href="https://coiiar.es/empleo-orientacion/formacion-y-cursos/">Formación y cursos</a></li>
                        <li><a href="https://coiiar.es/eventos/">Eventos culturales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="site-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 center-xs start-md">
                    <small>© 2020 Colegio Oficial de Ingenieros Industriales de Aragón y La Rioja</small>
                </div>
                <div class="col-xs-12 col-md-6 center-xs end-md">
                    <div class="menu-footer-nav-container">
                        <ul id="footer-menu" class="menu">
                            <li><a href="https://coiiar.es/politica-privacidad/">Política de privacidad</a></li>
                            <li><a href="https://coiiar.es/politica-de-cookies/">Política de cookies</a></li>
                            <li><a href="https://coiiar.es/aviso-legal/">Aviso Legal</a></li>
                            <li><a target="_blank" rel="noopener" href="https://serviciodecorreo.es/?domain=coiiar.es">Webmail</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div><!-- .site-info -->

</footer>
</body>

</html>