<!doctype html>

<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="assets/styles/main.css">

</head>

<body>


<div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#primary">Skip to content</a>

	<header id="masthead" class="site-header">
		<div class="container">
			<div class="row middle-xs">
				<div class="site-branding col-xs-6 col-md-3">
					LOGO
				</div><!-- .site-branding -->
				<div class="site-search col-xs-6 col-md-5">
					
				</div><!-- .site-search -->
				<div class="site-links col-xs-6 col-md-4 end-xs">
				MENU PEWUE
				</div><!-- .site-links -->
			</div>
		</div>
		<div class="btn-menu">
			<button class="open-menu" aria-controls="primary-menu" aria-expanded="false">
				<svg class="icon" width="24" height="24" viewBox="0 0 24 24">
					<use xlink:href="/assets/icons/sprite-icons.svg#menu" />
				</svg>
				<span>MENÚ</span>
			</button>
		</div>
		<nav id="site-navigation" class="main-navigation">
			MENU
		</nav><!-- #site-navigation -->
	</header><!-- #masthead -->
