<div id="modal-form" class="modal card" style="display:none;">
    <div class="card-content">
        <p class="text-h4"><strong>Enviar un email</strong></p>
        <form class="mt-2">
            <div class="mb-1">
                <label for="subjet">Asunto</label><br>
                <input type="text" id="subjet" name="subjet"><br>
            </div>
            <div class="mb-1">
                <textarea name="message" rows="8">Mensaje</textarea>
            </div>
            <div class="mb-2 form-check">
                <input type="checkbox" class="form-check-input" id="privacy">
                <label class="form-check-label" for="privacy">He leído y acepto la <a href="#">política de privacidad.</a></label>
            </div>
            <button type="submit" class="btn--full btn--primary btn--md">Enviar</button>
        </form>
    </div>
</div>
